<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理系统</title>

    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <link rel="stylesheet" href="../css/dc-Menu.css">
    <script type="text/javascript" src="../javascript/dcMenu.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a').click(function () {
                let src = $(this).data('src');
                if (src != '' && src != undefined) {
                    $('#iframe').attr('src', src);
                    $('.navbar-toggler').click();
                }
            })
        })
    </script>
    <!--    <script type="text/javascript">-->
    <!--        $(function () {-->
    <!--            dcMenu({-->
    <!--                el: '#dc-menu',-->
    <!--                list:-->
    <!--                    [{-->
    <!--                        title: '项目',-->
    <!--                        children: [-->
    <!--                            {-->
    <!--                                text: '项目信息',-->
    <!--                                url: 'project.html'-->
    <!--                            }, {-->
    <!--                                text: '项目物料需求变化表',-->
    <!--                                url: 'projectMatterChange.html'-->
    <!--                            }-->
    <!--                        ]-->
    <!--                    }, {-->
    <!--                        title: '订单',-->
    <!--                        children: [-->
    <!--                            {-->
    <!--                                text: '订单汇总',-->
    <!--                                url: 'order.html'-->
    <!--                            }, {-->
    <!--                                text: '订单明细',-->
    <!--                                url: 'orderDetail.html'-->
    <!--                            }, {-->
    <!--                                text: '订单状态',-->
    <!--                                url: 'orderState.html'-->
    <!--                            }-->
    <!--                        ]-->
    <!--                    }, {-->
    <!--                        title: '派工单',-->
    <!--                        children: [-->
    <!--                            {-->
    <!--                                text: '派工单录入',-->
    <!--                                url: 'workOrder.html'-->
    <!--                            }, {-->
    <!--                                text: '派工单汇总',-->
    <!--                                url: 'workOrderInfo.html'-->
    <!--                            }, {-->
    <!--                                text: '派工单明细',-->
    <!--                                url: 'workOrderDetail.html'-->
    <!--                            }-->
    <!--                        ]-->
    <!--                    }, {-->
    <!--                        title: '生产',-->
    <!--                        children: [-->
    <!--                            {-->
    <!--                                text: '车间生产汇总',-->
    <!--                                url: ''-->
    <!--                            }, {-->
    <!--                                text: '产线生产汇总',-->
    <!--                                url: ''-->
    <!--                            }-->
    <!--                        ]-->
    <!--                    }, {-->
    <!--                        title: '进销存',-->
    <!--                        children: [-->
    <!--                            {-->
    <!--                                text: '入库明细',-->
    <!--                                url: 'setStock.html'-->
    <!--                            }, {-->
    <!--                                text: '出库明细',-->
    <!--                                url: 'outStock.html'-->
    <!--                            }, {-->
    <!--                                text: '库存',-->
    <!--                                url: 'stock.html'-->
    <!--                            }-->
    <!--                        ]-->
    <!--                    }, {-->
    <!--                        title: '物料配置',-->
    <!--                        url: ''-->
    <!--                    }, {-->
    <!--                        title: '员工管理',-->
    <!--                        url: ''-->
    <!--                    }],-->
    <!--                onSelect: function (item) {-->
    <!--                    $('#iframe').animate({-->
    <!--                        'opacity': 0-->
    <!--                    }, 300, 'linear', function () {-->
    <!--                        $('#iframe').attr('src', item.url).css('opacity', 1)-->
    <!--                    })-->
    <!--                }-->
    <!--            })-->
    <!--        })-->
    <!--    </script>-->


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <a class="navbar-brand" href="#">订单管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded=   "false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    项目
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-src="project.html">项目信息</a>
                    <a class="dropdown-item" data-src="projectMatterChange.html">项目物料需求表</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    订单
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-src="project.html">项目信息</a>
                    <a class="dropdown-item" data-src="projectMatterChange.html">项目物料需求表</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<div class="embed-responsive embed-responsive-1by1" style="height: 90%">
    <iframe id="iframe" class="embed-responsive-item" src=""></iframe>
</div>
</body>
</html>