<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理系统</title>

    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <link rel="stylesheet" href="../css/dc-Menu.css">
    <script type="text/javascript" src="../javascript/dcMenu.js"></script>
    <script type="text/javascript">
        $(function(){
            dcMenu({
                el: '#dc-menu',
                list :
                    [{
                        title: '项目',
                        children: [
                            {
                                text: '项目信息',
                                url: 'project.html'
                            }, {
                                text: '项目物料需求变化表',
                                url: ''
                            }
                        ]
                    },{
                        title: '订单',
                        children: [
                            {
                                text: '订单汇总',
                                url: ''
                            }, {
                                text: '订单明细',
                                url: ''
                            }, {
                                text: '订单状态',
                                url: ''
                            }
                        ]
                    },{
                        title: '派工单',
                        children: [
                            {
                                text: '派工单汇总',
                                url: ''
                            }, {
                                text: '派工单明细',
                                url: ''
                            }
                        ]
                    },{
                        title: '生产',
                        children: [
                            {
                                text: '车间生产汇总',
                                url: ''
                            }, {
                                text: '产线生产汇总',
                                url: ''
                            }
                        ]
                    },{
                        title: '进销存',
                        children: [
                            {
                                text: '入库',
                                url: ''
                            }, {
                                text: '出库',
                                url: ''
                            }, {
                                text: '库存',
                                url: ''
                            }, {
                                text: '出入库明细',
                                url: ''
                            }
                        ]
                    },{
                        title: '物料配置',
                        url: ''
                    },{
                        title: '员工管理',
                        url: ''
                    }],
                onSelect: function(item){
                    $('#iframe').animate({
                        'opacity': 0
                    },300,'linear',function(){
                        $('#iframe').attr('src',item.url).css('opacity',1)
                    })
                }
            })
        })
    </script>


</head>
<body>
<header class="bottom-border" style="height: 10%;min-height: 60px;">
        <div class="col-12 navbar navbar-expand-lg navbar-dark bg-dark" style="height: 100%">
        <a class="navbar-brand" style="font-weight: 600">订单管理系统</a>
        <div class="navbar-collapse collapse ml-auto" id="navbar-mobile">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" role="button" id="userDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">我的</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">修改密码</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container-fluid" style="height: 90%;">
    <div class="row" style="height: 100%;justify-content: center;">
        <div class="col-2 border-right" style="padding: 0;min-width: 200px;">
            <nav id="dc-menu"></nav>
        </div>
        <div class="col-10" style="padding: 0">
            <iframe id="iframe" src=""></iframe>
        </div>
    </div>
</div>


</body>
</html>