<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理系统</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../javascript/main.js"></script>
</head>
<body>
<header>
    <div class="col-12 navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">订单管理系统</a>
        <div class="navbar-collapse collapse ml-auto" id="navbar-mobile">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" href="#!" id="userDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">我的</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">修改密码</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <nav class="dc-menu">
                <div class="dc-menu-item">
                    <div class="dc-menu-link">
                        项目
                        <i class="bi bi-chevron-down dc-icon"></i>
                    </div>
                    <ul class="dc-menu-ul">
                        <li class="dc-menu-li">项目信息</li>
                        <li class="dc-menu-li">项目物料需求变化</li>
                    </ul>
                </div>
                <div class="dc-menu-item">
                    <div class="dc-menu-link">
                        项目
                        <i class="bi bi-chevron-down dc-icon"></i>
                    </div>
                    <ul class="dc-menu-ul">
                        <li class="dc-menu-li">项目信息</li>
                        <li class="dc-menu-li">项目物料需求变化</li>
                    </ul>
                </div>
                <div class="dc-menu-item">
                    <div class="dc-menu-link">
                        项目
                        <i class="bi bi-chevron-down dc-icon"></i>
                    </div>
                    <ul class="dc-menu-ul">
                        <li class="dc-menu-li">项目信息</li>
                        <li class="dc-menu-li">项目物料需求变化</li>
                    </ul>
                </div>
                <div class="dc-menu-item">
                    <div class="dc-menu-link">
                        项目
                        <i class="bi bi-chevron-down dc-icon"></i>
                    </div>
                    <ul class="dc-menu-ul">
                        <li class="dc-menu-li">项目信息</li>
                        <li class="dc-menu-li">项目物料需求变化</li>
                    </ul>
                </div>
                <div class="dc-menu-item">
                    <div class="dc-menu-link is-active">
                        项目
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-8">
            <iframe src="project.html" style="width: 100%;border: none;transition: .2s"></iframe>
        </div>
    </div>
</div>


</body>
</html>