<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单状态</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/popper.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <!--自定义js-->
    <link rel="stylesheet" href="../css/dcLoading.css">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/orderState.js"></script>
</head>
<body>
<div class="top-toolbar bottom-border">
    <input id="orderId-select" type="text" class="form-control" style="width: 200px" placeholder="订单号"
           autocomplete="off">
    <button id="select-btn" class="btn btn-primary left-margin" style="width: 90px">
        <i class="bi bi-search icon"></i>
        查询
    </button>
</div>
<div class="table-div">
    <table id="table"></table>
</div>
</body>
</html>