<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>



    <!--    导出excel所用包-->
    <script type="text/javascript" src="../javascript/Getexcel.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--fontawesome-->
    <script src="https://cdn.bootcss.com/font-awesome/5.8.1/js/all.min.js"></script>
    <!--bootstrap-table-->
    <link href="https://cdn.bootcss.com/bootstrap-table/1.14.2/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.14.2/bootstrap-table.min.js"></script>
    <!--bootstrap-table-lanuage-->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.14.2/bootstrap-table-locale-all.min.js"></script>
    <!--bootstrap-table-export-->
    <script src="https://cdn.bootcss.com/bootstrap-table/1.14.2/extensions/export/bootstrap-table-export.min.js"></script>
    <!--在客户端保存生成的导出文件-->
    <script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <!--以XLSX（Excel 2007+ XML格式）格式导出表（SheetJS）-->
    <script src="https://cdn.bootcss.com/xlsx/0.14.2/xlsx.core.min.js"></script>
    <!--以PNG格式导出表格-->
    <!--对于IE支持包括 html2canvas 之前的 es6-promise-->
    <script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <!--将表导出为PDF文件-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <!--无论期望的格式如何，最后都包含 tableexport.jquery.plugin（不是tableexport）-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <!--    导出excel所用包-->



    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/userInfo.js"></script>
</head>
<body class="pt-2">
<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <button id="import-btn" class="btn btn-primary" onclick="getexcelnolast('#userInfoTable','员工管理表',4)">
            <i class="bi bi-plus-square icon"></i>
            导出
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：员工管理</a>
    </div>
</div>

<div class="table-div">
    <table id="userInfoTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">添加员工</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-name">账号</label>
                        <input id="add-name" name="name" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入账号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-pwd">密码</label>
                        <input id="add-pwd" name="pwd" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入密码！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-powerName">权限</label>
                        <input id="add-powerName" name="powerName" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入权限！
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>


<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">员工信息编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-name">账号</label>
                        <input id="update-name" name="name" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入账号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-pwd">密码</label>
                        <input id="update-pwd" name="pwd" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入密码！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-powerName">身份</label>
                        <input id="update-powerName" name="powerName" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入身份！
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 权限   -->
<div id="power-modal" class="modal fade" tabindex="-1">
    <div id="table-toolbar-userPower">
        <div class="btn-group" role="group">
            <button id="add-btn-userPower" class="btn btn-primary">
                <i class="bi bi-plus-square icon"></i>
                新增
            </button>
            <button id="update-btn-userPower" class="btn btn-primary">
                <i class="bi bi-pencil-square icon"></i>
                修改
            </button>
            <button id="delete-btn-userPower" class="btn btn-primary">
                <i class="bi bi-trash icon"></i>
                删除
            </button>
        </div>
    </div>

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">权限</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="power-table"></table>
            </div>
        </div>
    </div>
</div>

<!--  新增按钮弹窗  -->
<div id="add-modal-power" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑权限</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form-power" class="needs-validation">
                    <div class="form-group">
                        <label for="add-viewName-power">页面</label>
                        <select id="add-viewName-power" name="viewName" class="form-control">
                            <option value="">请选择页面</option>
                            <option value="项目信息">项目信息</option>
                            <option value="项目物料需求变化">项目物料需求变化</option>
                            <option value="订单汇总">订单汇总</option>
                            <option value="订单明细">订单明细</option>
                            <option value="订单状态">订单状态</option>
                            <option value="派工单">派工单</option>
                            <option value="车间生产汇总">车间生产汇总</option>
                            <option value="产线生产汇总">产线生产汇总</option>
                            <option value="入库明细">入库明细</option>
                            <option value="出库明细">出库明细</option>
                            <option value="库存">库存</option>
                            <option value="物料配置">物料配置</option>
                            <option value="员工管理">员工管理</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择页面！
                        </div>
                    </div>
                    <div id="add-display" class="form-group">
                        <label for="add">新增</label>
                        <select id="add" name="adds" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div id="delete-display" class="form-group">
                        <label for="delete">删除</label>
                        <select id="delete" name="deletes" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div id="update-display" class="form-group">
                        <label for="update">修改</label>
                        <select id="update" name="updates" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div id="select-display" class="form-group">
                        <label for="select">查询</label>
                        <select id="select" name="selects" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn-power" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn-power" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<!--  修改弹窗  -->
<!--  新增按钮弹窗  -->
<div id="update-modal-power" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑权限</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form-power" class="needs-validation">
                    <div class="form-group">
                        <input id="id-update-power" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <input name="viewName" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="add-update">新增</label>
                        <select id="add-update" name="adds" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="delete-update">删除</label>
                        <select id="delete-update" name="deletes" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="update-update">修改</label>
                        <select id="update-update" name="updates" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="select-update">查询</label>
                        <select id="select-update" name="selects" class="form-control">
                            <option value="1">可操作</option>
                            <option value="0">无权限</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn-power" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn-power" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>