<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>派工单明细</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../javascript/main.js"></script>
    <script type="text/javascript" src="../javascript/workOrderDetail.js"></script>

</head>
<body class="pt-2">

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：派工单明细</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="workOrderDetailTable"></table>
</div>

<div id="detail-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">派工单明细编辑</div>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <input id="workOrderInfoId" name="workOrderInfoId" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-workDate">日期</label>
                        <input id="update-workDate" name="workDate" type="date" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入日期！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-workShop">车间</label>
                        <input id="update-workShop" name="workShop" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入车间！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-workLine">产线</label>
                        <input id="update-workLine" name="workLine" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入产线！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-productInfoId">产品</label>
                        <select id="update-productInfoId" name="productInfoId" class="form-control">
                            <option value="2">呃呃呃</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择产品！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update-workNum">数量</label>
                        <input id="update-workNum" name="workNum" type="text" class="form-control"
                               autocomplete="off" required>
                        <div class="invalid-feedback">
                            请输入数量！
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-form-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-form-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>