<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <!--bootstrap-table-->
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap-table.css"/>
    <script type="text/javascript" src="bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script>
        $(function () {

            $("#upd-btn").click(function () {
                $.ajax({
                    type: 'post',
                    timeout: 5000,
                    url: '/user/getList',
                    success: res => {
                        if (res.code == 200) {
                            setTable(res.data);
                            console.log(res.data);
                        }
                    },
                    error: err => {
                        console.log("错误->", err);
                    }
                })
            })
        })

        function setTable(data) {
            $('#table').bootstrapTable({
                data: data,
                //启用分页
                pagination: true,
                //当前页（默认1）
                pageNumber: 1,
                //可选择的每页行数
                pageList: [1, 2],
                //语言
                locale: 'zh-CN',
                //隔行变色
                striped: true,
                //是否使用缓存
                cache: false,
                //启用排序
                sortable: true,
                //默认的排序方式
                sortOrder: 'asc',
                //标识字段
                uniqueId: 'id',
                //启动选中行
                clickToSelect: true,
                //显示刷新按钮
                showRefresh: true,
                columns: [{
                    checkbox: true,
                    visible: true
                }, {
                    field: 'name',
                    title: '账号',
                    sortable: true
                }, {
                    field: 'pwd',
                    title: '密码',
                    sortable: true
                }, {
                    field: 'powerName',
                    title: '身份',
                    sortable: true
                }, {
                    field: 'id',
                    title: '操作',
                    width: 120,
                    align: 'center',
                    valign: 'middle',
                    formatter: actionFormatter
                }]
            })
        }

        function actionFormatter(value, row, index) {
            let id = value;
            let result = "";
            result += "<a href='javascript:;' class='btn btn-xs green' title='查看'><span class='glyphicon glyphicon-search'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs blue' title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs red' title='删除'><span class='glyphicon glyphicon-remove'></span></a>";

            return result;
        }
    </script>



</head>
<body>
<div id="main" style="width: 100%;height: 400px">
    <div id="table"></div>
    <button type="button" class="btn btn-primary" id="upd-btn">获取List</button>
</div>


</body>
</html>