select{
    height: 30px;
    width: 100px;
}
input{
    height: 30px;
    width: 50px;
}
button{
    /*margin-left: 850px;*/
    /*position: fixed;*/
    margin-top: 10px;
    height: 40px;
    width: 200px;
}
td{
    width: 150px;
}
